@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&family=Commissioner&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quattrocento:wght@400;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Commissioner";
    color: #bbbbbb;

}

$headFontSize : 50px;
$subHeadFontSize : 35px;
$subHeadFontWeight : 600;
$pageHeadFontSize : 45px;
$headtextfontsize : 20px;
$textsize : 18px;
$subtextsize : 16px;
$inpageheadfontsize : 26px;
$projectnamesize : 20px;


// Series
// 1. Navigation
// 2. Home Page
// 3. Footer
// 4. About Page

.App {
    background-color: #131313;
    // min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app-content {
    width: 23cm;
    padding: .5cm 1cm 1cm 1cm;
    flex-shrink: 0;
    // flex-grow: 1;
    // border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 2cm;
}


// Navigation Starts Here

.logo {
    width: .8cm;
    cursor: pointer;
}

.logo-box {
    display: flex;
    gap: .3cm;
    align-items: center;
}

.logo-text {
    font-size: 22px;
    color: white;
}

.nav {
    border-bottom: 1px solid rgb(70, 70, 70);
    padding: 0cm 0cm .3cm 0cm;
}

.nav-box {
    display: flex;
    align-items: center;
    gap: 1cm;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: .5cm;
}

.menu-item {
    color: grey;
    font-size: 16px;
    cursor: pointer;
    transition: .2s all ease;

    &:hover {
        color: white;
    }
}

// Navigation Ends Here

// Home Page Starts Here

.home {
    display: flex;
    flex-direction: column;
    gap: 2cm;
}

.highlight {
    // color: #C0B9DD;
}

.home-box {
    display: flex;
    align-items: center;
    gap: 2cm;
    justify-content: space-between;
    padding: 1cm 0cm;

}

.home-box-left {
    display: flex;
    // max-width: 13cm;
    flex-direction: column;
    gap: .5cm;
}

.head-text {
    color: #bbbbbb;
    font-size: $headtextfontsize;

}

.head-text-link {
    color: blueviolet;
}

.home-img {
    width: 6cm;
    height: auto;
    border-radius: 10px;

}

.head {
    font-size: $headFontSize;
    color: white;
    font-weight: 600;
}

.sub-head {
    font-size: $subHeadFontSize;
    color: white;
    font-weight: $subHeadFontWeight;
}

.home-projects {
    margin-top: 1cm;
    display: flex;
    flex-wrap: wrap;
    gap: .5cm;
    justify-content: space-around;
}

.project-year {
    color: blueviolet;
    font-size: 14px;
}

.project-name {
    font-size: $projectnamesize;
    color: white;
    transition: .3s all ease;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.project-desc {
    color: grey;
    font-size: $subtextsize;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .3cm;
    width: calc((100% / 2) - 1.35cm);
    padding: .5cm;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
}

.project-upper {
    display: flex;
    flex-direction: column;
    gap: .3cm;
}

.tags {
    display: flex;
    align-items: center;
    gap: .3cm;
}

.tag {
    padding: .1cm .2cm;
    color: white;
    background-color: #018E42;
    font-size: 12px;
    border-radius: 10px;
}

.project-buttons {
    display: flex;
    align-items: center;
    gap: .3cm;
    margin-top: .5cm;

}

.demo-box {
    font-size: 16px;
    background-color: transparent;
    color: rgb(192, 192, 192);
    border: 1px solid grey;
    display: flex;
    align-items: flex-end;
    gap: .1cm;
    padding: .15cm .3cm .25cm .3cm;

    border-radius: 10px;
    cursor: pointer;
    transition: .3s all ease;

    &:hover {
        color: white;
        border: 1px solid white;
    }
}

.share {
    width: .4cm;
    height: .4cm;
}

.socials {
    display: flex;
    align-items: center;
    gap: .3cm;
    margin-top: .5cm;
}

.social-img {
    width: 1cm;
    cursor: pointer;
    transition: .15s all ease;

    &:hover {
        margin-top: -.2cm;
    }
}


.home-buttons {
    display: flex;
    align-items: center;
    gap: .5cm;
    margin-top: .5cm;
}


.home-button {
    padding: .3cm .6cm;
    font-size: 16px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    border: 3px solid blueviolet;
    cursor: pointer;
    transition: .3s all ease;

    &:hover {
        background-color: transparent;
    }
}

.hireme {
    background-color: forestgreen;
    border: 3px solid forestgreen;
}

// Home Page Ends Here

// Footer Starts Here

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2cm;
    gap: .7cm;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .3cm;

}

.fsocial {
    display: flex;
    align-items: center;
    gap: .3cm;
    border: 2px solid rgb(40, 40, 40);
    padding: .2cm .4cm;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s all ease;

    &:hover {
        background-color: rgb(40, 40, 40);
    }
}

.fsimg {
    width: .7cm;
}

.fstext {
    color: white;
}

.fimg {
    width: .8cm;
    cursor: pointer;
}

// Footer Ends Here

// About Page Starts Here

.page-head {
    font-size: $pageHeadFontSize;
    font-weight: 600;
    color: white;
}

.about-desc {
    margin-top: 1cm;
    display: flex;
    flex-direction: column;
    gap: 1.5cm;

    .about-text {
        font-size: $textsize;
    }
}

.about-sub-head {
    font-size: $inpageheadfontsize;
    color: white;
}

.contact-opts {
    margin-top: .3cm;
    display: flex;
    flex-direction: column;
    gap: .2cm;
}

.contact-opt {
    font-size: $textsize;
}


.linkto {
    color: blueviolet;
    cursor: pointer;
    transition: .2s all ease;

    &:hover {
        text-decoration: underline;
        color: white;
    }
}


.ulist {
    margin-left: .5cm;
    margin-top: .3cm;
    display: flex;
    flex-direction: column;
    gap: .2cm;
}

.doing-list-data {
    font-size: $textsize;

}

.list-update {
    font-style: italic;
    font-size: 14px;
}

.list-head {
    font-weight: 600;
}


.doing-list-data::marker {
    color: #bbbbbb;
}

// About Page Ends Here

.projects-box {
    display: flex;
    flex-wrap: wrap;
    gap: .5cm;
    margin-top: 1cm;
}

.phead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allpro {
    background-color: transparent;
    padding: .3cm .6cm;
    border-radius: 10px;
    border: 3px solid rgb(40, 40, 40);
    cursor: pointer;
    font-size: $subtextsize;
    transition: .2s all ease;

    &:hover {
        background-color: rgb(40, 40, 40);
    }
}

.resume-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        font-style: italic;
        font-size: 14px;
        margin-top: .5cm;
    }
}

.resume-img {
    width: 100%;

    height: auto;
    margin-top: 1cm;
}

.cv {
    padding: .3cm .6cm;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    border: 3px solid blueviolet;
    transition: .3s all ease;
    text-align: center;

    &:hover {
        background-color: transparent;
    }
}

.ptype {
    font-size: 14px;
    color: white;
    background-color: blueviolet;
    padding: 0.05cm .3cm;
    border-radius: 10px;
}

.pimg {
    width: 100%;
    height: auto;
    // aspect-ratio: 16/9;
}



@media only screen and (max-width : 1000px) {
    .app-content {
        width: calc(100% - 2.3cm);

    }
}


@media only screen and (max-width : 750px) {
    .home-box {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1cm;
    }

    .logo-text {
        display: none;
    }

    .home-box-left {
        gap: .3cm;
    }

    .project {
        width: 100%;
    }
}

@media only screen and (max-width : 600px) {
    .home-box {
        padding: 0.5cm 0cm 1cm 0cm;
    }

    .head {
        font-size: 40px;


    }

    .head-text {
        font-size: 18px;
    }

    .sub-head {
        font-size: 30px;
    }

    .project-name {
        font-size: 18px;
    }

    .about-text {
        font-size: 16px;
    }

    .contact-opt {
        font-size: 16px;
    }

    .page-head {
        font-size: 40px;
    }

    .about-sub-head {
        font-size: 22px;
    }

    .doing-list-data {
        font-size: 16px;
    }


}

@media only screen and (max-width : 800px) {
    .app-content {
        width: calc(100% - 1.3cm);
        padding: 0.5cm .5cm .5cm .5cm;

    }
}